<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>table_header_bg</key>
		<string>#FF2C74D3</string>
		<key>left_menu_bg</key>
		<string>#FF343434</string>
		<key>cell_text</key>
		<string>#FF000000</string>
		<key>navbar_bg</key>
		<string>0X2C74D3</string>
		<key>slider_min</key>
		<string>#FF0000FF</string>
		<key>slider_max</key>
		<string>#FF00FF00</string>
		<key>left_tabbar_cell_title</key>
		<string>#FF0000FF</string>
		<key>table_bg</key>
		<integer>4294967295</integer>
		<key>receipe_text</key>
		<real>4294967295</real>
	</dict>
	<key>detail</key>
	<string>默认</string>
	<key>id</key>
	<integer>1</integer>
	<key>name</key>
	<string>classic</string>
	<key>predefine</key>
	<true/>
	<key>res</key>
	<dict>
		<key>tabbar_browser</key>
		<string>/res/tabbar/browser.png</string>
		<key>tabbar_browser_active</key>
		<string>/res/tabbar/browser_active.png</string>
		<key>tabbar_downloads</key>
		<string>/res/tabbar/downloads.png</string>
		<key>tabbar_files</key>
		<string>/res/tabbar/files.png</string>
		<key>tabbar_files_active</key>
		<string>/res/tabbar/files_active.png</string>
		<key>tabbar_hardware</key>
		<string>/res/tabbar/hardware.png</string>
		<key>tabbar_itunes</key>
		<string>/res/tabbar/itunes.png</string>
		<key>tabbar_itunes_active</key>
		<string>/res/tabbar/itunes_active.png</string>
		<key>tabbar_minimized_film_default</key>
		<string>/res/tabbar/minimized_film_default.png</string>
		<key>tabbar_minimized_music_default</key>
		<string>/res/tabbar/minimized_music_default.png</string>
		<key>tabbar_more</key>
		<string>/res/tabbar/more.png</string>
		<key>tabbar_playlist</key>
		<string>/res/tabbar/playlist.png</string>
		<key>tabbar_playlist_active</key>
		<string>/res/tabbar/playlist_active.png</string>
		<key>tabbar_settings</key>
		<string>/res/tabbar/settings.png</string>
		<key>tabbar_wifi</key>
		<string>/res/tabbar/wifi.png</string>
	</dict>
	<key>resolution</key>
	<string>640*960</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
