<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>table_header_bg</key>
		<string>#FF555555</string>
		<key>left_menu_bg</key>
		<string>#FF1C1C1D</string>
		<key>cell_text</key>
		<string>#FFFFFFFF</string>
		<key>slider_min</key>
		<string>#F0F0F000</string>
		<key>slider_max</key>
		<string>#FFFF0000</string>
		<key>left_tabbar_cell_title</key>
		<string>0XFF00FF11</string>
		<key>table_bg</key>
		<integer>875836671</integer>
		<key>receipe_text</key>
		<real>4294967295</real>
	</dict>
	<key>detail</key>
	<string>Night</string>
	<key>id</key>
	<integer>2</integer>
	<key>name</key>
	<string>night</string>
	<key>predefine</key>
	<true/>
	<key>res</key>
	<dict>
		<key>tabbar_back</key>
		<string>/res/tabbar/back.png</string>
		<key>tabbar_browser</key>
		<string>/res/tabbar/browser.png</string>
		<key>tabbar_browser_active</key>
		<string>/res/tabbar/browser_active.png</string>
		<key>tabbar_downloads</key>
		<string>/res/tabbar/downloads.png</string>
		<key>tabbar_downloads-full_active</key>
		<string>/res/tabbar/downloads-full_active.png</string>
		<key>tabbar_downloads-half_active</key>
		<string>/res/tabbar/downloads-half_active.png</string>
		<key>tabbar_downloads_active</key>
		<string>/res/tabbar/downloads_active.png</string>
		<key>tabbar_files</key>
		<string>/res/tabbar/files.png</string>
		<key>tabbar_files_active</key>
		<string>/res/tabbar/files_active.png</string>
		<key>tabbar_hardware</key>
		<string>/res/tabbar/hardware.png</string>
		<key>tabbar_home</key>
		<string>/res/tabbar/home.png</string>
		<key>tabbar_home_active</key>
		<string>/res/tabbar/home_active.png</string>
		<key>tabbar_itunes</key>
		<string>/res/tabbar/itunes.png</string>
		<key>tabbar_itunes_active</key>
		<string>/res/tabbar/itunes_active.png</string>
		<key>tabbar_minimized_film_default</key>
		<string>/res/tabbar/minimized_film_default.png</string>
		<key>tabbar_minimized_music_default</key>
		<string>/res/tabbar/minimized_music_default.png</string>
		<key>tabbar_more</key>
		<string>/res/tabbar/more.png</string>
		<key>tabbar_playlist</key>
		<string>/res/tabbar/playlist.png</string>
		<key>tabbar_playlist_active</key>
		<string>/res/tabbar/playlist_active.png</string>
		<key>tabbar_settings</key>
		<string>/res/tabbar/settings.png</string>
		<key>tabbar_settings_active</key>
		<string>/res/tabbar/settings_active.png</string>
		<key>tabbar_wifi</key>
		<string>/res/tabbar/wifi.png</string>
	</dict>
	<key>resolution</key>
	<string>640*960</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
